@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



@await Component.InvokeAsync("CategoryMenu")

<br />
<div class="panel panel-success">
    <div class="panel-heading">Panel with panel-success class</div>
    <div class="panel-body">Panel Content</div>
</div>
